body {
    /* height: fit-content; */
    /* height: 100vh; */
    width: 100vw;
    margin: 0 0 0 0;
    padding: 0;
}
/* from here WelcomeFrame */
.welcomeContainer {
    margin-top: 4vh;    
}
.welcomeText {
    text-align: center;
    margin: 1vh 0vw;
    font-size: 4vh;
    font-family:cursive;
    color: rgb(0, 43, 100);
}
/* until here WelcomeFrame */
/* from here NavbarComp */
.navbarContainer {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 2vw;
    row-gap: 1vh;
    margin: 3vh 4vw;
}
/* until here NavbarComp */
/* from here MemoryGame */
.memoryGameContainer .grid {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    max-height: 80vh;
}
.backImg {
    max-width: 20vw;
    max-height: 20vw;
}
.infoText {
    display:flex;
    justify-content: space-between;
    margin: 0 4%;
}
.infoTextLeft {
    color: rgb(0, 68, 194);
}
.infoTextRight {
    color: rgb(231, 0, 69);    
}
/* until here MemoryGame */
/* from here WhackAMoleGame */
.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}
/* until here WhackAMoleGame */