body {
    /* height: fit-content; */
    /* height: 100vh; */
    width: 100vw;
    margin: 0 0 0 0;
    padding: 0;
}
/* from here WelcomeFrame */
.welcomeContainer {
    margin-top: 4vh;    
}
.welcomeText {
    text-align: center;
    margin: 1vh 0vw;
    font-size: 4vh;
    font-family:cursive;
    color: rgb(0, 43, 100);
}
/* until here WelcomeFrame */
/* from here NavbarComp */
.navbarContainer {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 2vw;
    row-gap: 1vh;
    margin: 3vh 4vw;
}
/* until here NavbarComp */
/* from here MemoryGame */
.memoryContainer .grid {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    max-height: 80vh;
}
.backImg {
    max-width: 20vw;
    max-height: 20vw;
}
.memoryContainer .infoText {
    display:flex;
    justify-content: space-between;
    margin: 0 4%;
}
.infoTextLeft {
    color: rgb(0, 68, 194);
}
.infoTextRight {
    color: rgb(231, 0, 69);    
}
/* until here MemoryGame */
/* from here WhackAMoleGame */
.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    
    /* background-position-y: 20px; */
    background-position-x: -20px;
}
.whackAMoleContainer .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 618px;
    height: 618px;
    cursor: url(/assets/img/cursor_hammer-Photoroom.png) 0 30, grab;
}
.whackAMoleContainer .infoText {
    display: flex;
    justify-content: space-between;
    margin: 0 4%;
}
.mole {
    background-image: url(/assets/img/whackamole.jpeg);
    background-size: cover;
    /* transition: transform 0.5s;
    transform:translateY(50%); */
    animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
/* .mole > img {
    transform: translateY(-50%);
    object-position: 80% 80%;
} */
/* until here WhackAMoleGame */